*{
margin: 0;
padding: 0;
}

body{
	background-color: #FFF;
}
nav{
background-color: #fff;
box-shadow: #C3C3C3 3px 3px 11px;
}

nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

nav li{
	height: 90px;
}