*{
margin: 0;
padding: 0;
Font-family: Arial;
line-height: 140%;
}

body{
	background-color: #F2F2F2;
}

Header H1 {
  margin: 20px 0 0 450px;
  background-color: #3c4a81;
  color: #B4BcD0;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  font-size: 80px;
  width: fit-content;
  box-shadow: #C7C7C7 3px 10px 15px
}

nav{
background-color: #fff;
box-shadow: #D7D7D7 3px 12px 11px;
color: black;
}

nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

nav li{
	height: 30px;
	margin: 10px;
}

.nav-img {
	
	width: 420px;
	height: 110px;
	margin-top: 25px;
}

.article-img {
  width: 210px;
  height: 130px;
  border: 1px solid black;
  margin: 10px 0;
  margin-bottom: 0px;
}

.left-article{
  background-color: #3c4a81;
  color: white;
  border-radius: 15px;
  margin: 20px;
  width: 420px;
  padding: 10px;
  position: relative;
  box-shadow: #C1C1C1 3px 10px 15px ;
}

.right-article{
  background-color: #3c4a81;
  color: white;
  border-radius: 15px;
  margin: 20px;
  width: 420px;
  padding: 10px;
  position: relative;
  box-shadow: #C1C1C1 3px 10px 15px ;
  margin-left: auto;
  margin-right: 40px;
}

.left-article::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #3c4a81;
}

.right-article::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #3c4a81;
}